.App {
  margin: 1%;
  color: greenyellow;
  background-color: black;
  border: 5px solid greenyellow;
  border-radius: 10px;
}
.Create{
  margin: 1%;
  color: greenyellow;
  background-color: black;
  border: 5px solid greenyellow;
  border-radius: 10px;

  list-style: none;
}
.Create li {
  margin: 1%;
  color: greenyellow;
  background-color: black;
  border: 5px solid greenyellow;
  border-radius: 10px;
}
.Display{
  margin: 1%;
  color: greenyellow;
  background-color: black;
  border: 5px solid greenyellow;
  border-radius: 10px;
}